.modal {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(30.649999618530273px);

  .image {
    max-width: 95vw;
    width: auto;
    height: 2000px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: smoothZoom 0.35s ease forwards;
    position: relative;
    overflow: hidden;

    .startVideo {
      position: absolute;
      margin: auto auto;
      z-index: 25;

      img {
        border-radius: 0;
      }
    }

    .closeWindow {
      position: absolute;
      top: 0;
      right: 0;
      margin: 89.69px;
      z-index: 100;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 64px;
      object-fit: contain;
      display: block;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 64px;
    }

  }
  @keyframes smoothZoom {
    0% {
      transform: scale(0.97);
    }
    100% {
      transform: scale(1);
    }
  }
}