.modal {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(30.649999618530273px);

  .closeWindow {
    position: absolute;
    top: 0;
    right: 0;
    margin: 89.69px;
  }

  .image {
    max-width: 2665px;
    width: auto;
    height: 2000px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: smoothZoom 0.35s ease forwards;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 64px;
      object-fit: contain;
      display: block;
    }

  }
  @keyframes smoothZoom {
    0% {
      transform: scale(0.97);
    }
    100% {
      transform: scale(1);
    }
  }
}