.modal {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(30.649999618530273px);

  .image {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: smoothZoom 0.35s ease forwards;
    position: relative;
    overflow: hidden;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }
  @keyframes smoothZoom {
    0% {
      transform: scale(0.97);
    }
    100% {
      transform: scale(1);
    }
  }
}