.archiveCategoriesSections {
  margin: 0 auto;
  max-width: 3680px;
  width: 100%;
  height: 1665px;
  padding: 52px 20px 52px 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  background: rgba(255, 255, 255, 0.50);

  .sectionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 23px;

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--white);
      border-radius: 58px;
      min-height: 120px;
    }


    .wrap {
        width: 100%;
      width: auto;
    }

  }
}