.modal {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(30.649999618530273px);

  .image {
    max-width: 2665px;
    width: 100%;
    height: 2000px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;


    .currentImage {
      position: relative;

      img {
        border-radius: 64px;
      }
      .closeWindow {
        position: absolute;
        top: 0;
        right: 0;
        margin: 89.69px;
      }
    }
  }
}