@font-face {
    font-family: "Bahnschrift";
    src: url("../assets/fonts/Bahnschrift.woff2") format("woff2"),
    url("../assets/fonts/Bahnschrift.ttf") format("truetype");
    font-display: swap;
}
