.header {
  margin: 80px auto 40px auto;
  max-width: 3680px;
  width: 100%;
  height: 255px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 64px;
  padding: 0 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .headerTitle {
    width: 100%;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    margin: auto 0;

    p {
      margin: 0;
      color: var(--white);
      font-family: var(--font);
      font-size: 120px;
      font-style: normal;
      font-weight: 700;
      line-height: 85px;
      leading-trim: both;
      text-edge: cap;
    }

    span {
      margin: 0;
      color: var(--white);
      font-family: var(--font);
      font-size: 70px;
      font-style: normal;
      font-weight: 200;
      line-height: 50px;
      opacity: 0.6;
      leading-trim: both;
      text-edge: cap;
    }
  }

  .headerLogos {
    max-width: 368.8px;
    width: 100%;
    height: 175.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .scoolLogo1 {
      max-width: 175.2px;
      width: 100%;
      height: 175.2px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 34.148px;
      background-color: var(--white);
    }

    .scoolLogo2 {
      width: 175.2px;
      height: 175.2px;
      padding: 27.391px 28.019px 22.605px 22.853px;
      max-width: 175.2px;
      width: 100%;
      height: 175.2px;
      display: flex;
      border-radius: 34.148px;
      background-color: var(--white);
    }
  }
}