.section {
  max-width: 890px;
  width: 100%;
  height: 368px;
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 64px;
  background: var(--light-blue);

  p {
    margin: 0;
    align-self: stretch;
    color: var(--white);
    font-family: var(--font);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .buttonToSection {
    max-width: 778px;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: end;

    .link {
      max-width: 72px;
      width: 100%;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 36px;
      background: var(--white);
    }
  }

}