.footer {
  max-width: 3680px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .createdBy {
    max-width: 452px;
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    p {
      height: 38px;
      margin: 0;
      color: var(--white);
      font-family: var(--font);
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px;
    }
  }
}