.mainScreenBody {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 3680px;
  width: 100%;
  height: 1298px;
  gap: 97px;

  .sloganAndDescription {
    max-width: 1764px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 100px;

    h2 {
      max-width:1764px;
      width: 100%;
      margin: 0;
      color: var(--white);
      font-family: var(--font);
      font-size: 126px;
      font-style: normal;
      font-weight: 600;
      line-height: 89%;
    }

    button {
      max-width: 1357px;
      width: 100%;
      height: 152.0px;
      outline: none;
      border: none;
      display: flex;
      padding: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 74px;
      background: var(--light-blue);

      p {
        color: var(--white);
        text-align: center;
        font-family: var(--font);
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

}