.container {
  margin: 0 auto;
  max-width: 3680px;
  width: 100%;
  height: 1665px;
  display: flex;
  flex-direction: row;
  gap: 40px;

  .description {
    width: 100%;
    height: 100%;
    padding: 55px 20px 55px 55px;
    border-radius: 64px;
    background: var(--white);

    .descriptionCont {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      background: transparent;
      overflow-x: hidden;
      overflow-y: auto;
      padding-right: 40px;

      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #12B5FF;
        border-radius: 58px;
        min-height: 120px;
      }

      p {
        text-indent: 80px;
        margin: 0;
        align-self: stretch;
        color: var(--light-black);
        font-family: var(--font);
        font-size: 54px;
        font-style: normal;
        font-weight: 350;
        line-height: 120%;
      }
    }

    .photo {
      max-width: 1200px;
      width: 100%;
      height: 1665px;
      border-radius: 64px;
    }
    }

}